body {
  margin: 1em;
}

table {
  width: 100%;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, .05);
}

td {
  width: 50%;
}
td:first-child::after {
  content: ":";
}

a {
  color: unset;
}

.telegram {
  color: #08c;
}
.discord {
  color: #7289da;
}
.anilist {
  color: #0098ff;
}
.osu {
  color: #f6a;
}
.soundcloud {
  color: #f50;
}
.twitter {
  color: #1da1f2;
}
.github {
  color: #000;
}
.gitlab {
  color: #e65328;
}
.youtube {
  color: #f00;
}
